### Spam Mail Classification with Logistic Regreesion

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [44]:
data_ds = pd.read_csv('./mail_data.csv')
data_ds

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [45]:
raw_data = data_ds.where((pd.notnull(data_ds)), '')

In [46]:
raw_data

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [47]:
# spam ==> 0,    harm ==> 1
raw_data.loc[raw_data['Category'] == 'spam', 'Category'] = 0
raw_data.loc[raw_data['Category'] == 'ham', 'Category'] = 1
raw_data

     Category                                            Message
0           1  Go until jurong point, crazy.. Available only ...
1           1                      Ok lar... Joking wif u oni...
2           0  Free entry in 2 a wkly comp to win FA Cup fina...
3           1  U dun say so early hor... U c already then say...
4           1  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567        0  This is the 2nd time we have tried 2 contact u...
5568        1               Will ü b going to esplanade fr home?
5569        1  Pity, * was in mood for that. So...any other s...
5570        1  The guy did some bitching but I acted like i'd...
5571        1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [48]:
X = raw_data['Message']
y = raw_data['Category']

In [49]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [50]:
y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2 ,random_state=42)

In [52]:
X_train.shape, X_test.shape

((4457,), (1115,))

In [53]:
feature_extraction = TfidfVectorizer(min_df= 1, stop_words='english', lowercase=True)

In [54]:
X_train = feature_extraction.fit_transform(X_train)
X_test = feature_extraction.transform(X_test)

In [55]:
X_train.shape, X_test.shape

((4457, 7440), (1115, 7440))

In [56]:
print(X_train)

  (0, 5818)	0.22682143517864364
  (0, 2497)	0.2442158912653505
  (0, 694)	0.3171299579602537
  (0, 6264)	0.1898892037332199
  (0, 5800)	0.17558937755823417
  (0, 3262)	0.33791755486732394
  (0, 2049)	0.3034375179183143
  (0, 7300)	0.24288153842988894
  (0, 2724)	0.3544175987866074
  (0, 354)	0.3544175987866074
  (0, 7162)	0.2550284465664535
  (0, 258)	0.2379428657041507
  (0, 7222)	0.2173884735352799
  (0, 5512)	0.1898892037332199
  (1, 2555)	0.3840709491751004
  (1, 3804)	0.1902902346515268
  (1, 3932)	0.24325511357721427
  (1, 4509)	0.4028245991060671
  (1, 2440)	0.33870544648398715
  (1, 3333)	0.20665394084233096
  (1, 5650)	0.360444144470318
  (1, 2335)	0.2162321275166079
  (1, 6738)	0.28986069568918
  (1, 6109)	0.3239762634465801
  (1, 3267)	0.2678713077029217
  :	:
  (4452, 2438)	0.4574160733416501
  (4452, 7280)	0.3968991650168732
  (4452, 3978)	0.4574160733416501
  (4452, 3290)	0.26370969643076225
  (4452, 3084)	0.22948428918295163
  (4452, 2236)	0.2676662072392096
  (4453, 3874)	0.6064947019588056
  (4453, 4004)	0.5244851817485773
  (4453, 6108)	0.5975612693457145
  (4454, 6113)	0.4465347909835087
  (4454, 6114)	0.4465347909835087
  (4454, 5149)	0.43410473161397095
  (4454, 5409)	0.4079234999314281
  (4454, 3249)	0.3182708584577292
  (4454, 2893)	0.38087861810984514
  (4455, 5815)	0.5332274226200294
  (4455, 3691)	0.5541750775894743
  (4455, 4660)	0.4924788339394118
  (4455, 6686)	0.40745931976870786
  (4456, 4518)	0.5364209818026567
  (4456, 6078)	0.46545159250664164
  (4456, 6467)	0.48168628392630153
  (4456, 5719)	0.3276287995831882
  (4456, 2236)	0.31389751705425334
  (4456, 3720)	0.24023610815826446

In [57]:
print(X_test)

  (0, 4942)	0.2260795967233104
  (0, 4100)	0.2783653715582127
  (0, 3955)	0.30969913392437864
  (0, 3395)	0.6599992933708911
  (0, 3225)	0.32999964668544557
  (0, 2173)	0.24736140852983116
  (0, 2065)	0.29632752800743906
  (0, 1751)	0.2863401438180079
  (1, 7158)	0.3981347747267476
  (1, 6986)	0.2493471978387002
  (1, 6642)	0.326271353777915
  (1, 6544)	0.2204999931204713
  (1, 5430)	0.387052012561607
  (1, 4044)	0.3234324946551934
  (1, 3443)	0.3234324946551934
  (1, 1975)	0.3578586983359201
  (1, 1361)	0.37034060973735533
  (2, 6570)	0.2671012270734155
  (2, 5597)	0.38473841792677693
  (2, 4369)	0.37140936745963093
  (2, 3510)	0.35262312595844614
  (2, 3084)	0.19302212472396826
  (2, 3067)	0.19302212472396826
  (2, 2377)	0.37140936745963093
  (2, 1292)	0.5530689808395817
  :	:
  (1110, 6142)	0.184212737624403
  (1110, 5204)	0.20379483330125558
  (1110, 4806)	0.21000774387718502
  (1110, 4497)	0.4617602822459726
  (1110, 4105)	0.19205506803469924
  (1110, 3938)	0.19408816272334495
  (1110, 3180)	0.28321732903206603
  (1110, 3084)	0.1354742748210557
  (1110, 2749)	0.19108428181801027
  (1110, 2437)	0.3925137888208102
  (1110, 2380)	0.27003204031127404
  (1110, 2173)	0.20241084046750546
  (1110, 2064)	0.22778075670341405
  (1111, 7095)	0.36365496598104324
  (1111, 3724)	0.42134339857243075
  (1111, 3258)	0.45132488164412626
  (1111, 2425)	0.4088782922446393
  (1111, 2410)	0.36365496598104324
  (1111, 1524)	0.4325555054026121
  (1112, 7390)	0.42586219706493256
  (1112, 6550)	0.691531900174862
  (1112, 4351)	0.5834595274323433
  (1113, 5796)	0.6364310164851212
  (1113, 1600)	0.48856109936052156
  (1113, 1472)	0.5968782232979806

In [58]:
y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [59]:
model = LogisticRegression()

In [60]:
model.fit(X=X_train, y=y_train)

LogisticRegression()

In [61]:
train_pred = model.predict(X_train)
train_acc = accuracy_score(y_pred=train_pred, y_true=y_train)

In [64]:
test_pred = model.predict(X_test)
test_acc = accuracy_score(y_pred=test_pred, y_true=y_test)

In [66]:
print(f'Train Accuracy: {train_acc}, and Test Accuracy: {test_acc}')

Train Accuracy: 0.9661207089970832, and Test Accuracy: 0.967713004484305

In [71]:
# spam ==> 0,    harm ==> 1

in_data = ["Congrats! 1 year special cinema pass for 2 is yours. call 09061209465 now! C Suprman V, Matrix3, StarWars3, etc all 4 FREE! bx420-ip4-5we. 150pm. Dont miss out!"]

in_data_transform = feature_extraction.transform(in_data)
prediction = model.predict(in_data_transform)

if (prediction[0] ==1):
    print("Spam")
else:
    print('Ham')

Spam